.section-title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -1px;
}

@media (max-width: 420px) {
  .section-title {
    padding-bottom: 28px;
    font-size: 18px;
  }
}  