.burger-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 520px;
  width: 100%;
  background-color: #202020;
}

.burger-menu__icon {
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-image: url("../../../images/icon-menu-close.svg");
}

.burger-menu__links {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.burger-menu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-bottom: 28px;
}

@media (max-width: 800px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
}