.burger-menu {
  display: flex;
  position: fixed;
  justify-content: end;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: end;
  background: transparent;
  transition: transform 0.5s ease;
  /* border: 1px solid red; */
  justify-self: end;
  visibility: hidden;
  z-index: 100;
  /* opacity: 0; */
}

.burger-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
  height: 100%;
  background-color: #202020;
  padding: 159px 0 95px;
  box-sizing: border-box;
  transition: all 0.7s ease;

  transform: translateX(100%);
}

.burger-menu__close-button {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 22px;
  right: 10px;
  background-repeat: no-repeat;
  background-image: url("../../../images/icon-menu-close.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  z-index: 101;
}

.burger-menu__links {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  gap: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.burger-menu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-bottom: 7px;
}

.burger-menu__button {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

.burger-menu__button::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../../../images/icon-account.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: #313131;
  border-radius: 6px;
}

.burger-menu_opened .burger-menu__container {
  transform: translateX(0);
}

.active {
  border-bottom: 2px solid #fff;
  cursor: default;
}

@media (max-width: 800px) {
  .burger-menu_opened {
    visibility: visible;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}

@media (max-width: 420px) {
  .burger-menu__close-button {
    top: 12px;
    right: 2px;
  }

  .burger-menu__container {
    padding: 144px 0 48px;
  }

  .burger-menu__links {
    gap: 18px;
  }
}
