.error-message {
  color: #ee3465;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 70px;
  min-height: 17px;
}

@media (max-width: 480px) {
  .error-message {
    margin-top: 159px;
  }
}  