.saved-movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-block {
  padding-top: 220px;
}

@media (max-width: 800px) {
  .empty-block {
    padding-top: 94px;
  }
}

@media (max-width: 420px) {
  .empty-block {
    padding-top: 89px;
  }
}