.techs__container {
  padding-top: 102px;
  padding-bottom: 100px;
  flex-direction: column;
}

.techs__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  padding-top: 90px;
}

.techs__text {
  text-align: center;
  margin: 0;
  padding-top: 26px;
  max-width: 460px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1px;
}

.techs__list {
  margin: 0;
  display: flex;
  column-gap: 10px;
  list-style: none;
  padding: 100px 0 0;
  width: 100%;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -1px;
}

.techs__list-item {
  display: block;
  max-width: 90px;
  width: 100%;
  padding: 21px 0 22px;
  background-color: #303030;
  border-radius: 10px;
  text-align: center;
}