.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
}
.footer__title {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
}

.footer__copyright {
  color: #8B8B8B;
}