.footer {
  max-width: 1280px;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  padding: 79px 70px 20px;
}

.footer__title {
  margin: 0;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__link {
  margin: 0;
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.footer__copyright {
  margin: 0;
}

@media (max-width: 800px) {
  .footer__container {
    padding: 127px 30px 20px;
  }
}

@media (max-width: 420px) {
  .footer__container {
    padding: 127px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    padding-bottom: 22px;
  }

  .footer__block {
    flex-direction: column;
    flex-flow: column-reverse;
    padding-top: 30px
  }

  .footer__link {
    row-gap: 12px;
  }

  .footer__copyright {
    padding: 30px 0 00px;
  }
}
