.nav-in {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  column-gap: 20px;
}

.nav-in__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
}

.nav-in__link_font-weight_400 {
  font-weight: 400;
}

.nav-in__link_type_button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 32px;
  margin-left: 30px;
  line-height: 16px;
}

.nav-in__button-account {
  width: 30px;
  height: 30px;
  background-image: url("../../../images/icon-account.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: #313131;
  border-radius: 6px;
}

.nav-in__button_burger {
  display: none;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/icon-menu-burger.svg");
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

@media (max-width: 800px) {
  .nav-in {
    display: none;
  }

  .nav-in__button_burger {
    display: block;
  }
}

@media (max-width: 420px) {
  .nav-in {
    font-size: 10px;
  }
  .nav-in__link_type_green-button {
    width: 54px;
    height: 26px;
    margin-left: 14px;
  }
}