.search-form__container {
  display: flex;
  flex-direction: column;
  padding-top: 51px;
}

.search-form__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.search-form__input {
  height: 72px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #ababab33;
  transition: all 0.2s ease;
  font-size: 18px;
  padding-left: 25px;
}

.search-form__input:focus {
  border: 2px solid #abababb3;
}

.search-form__button {
  width: 100px;
  height: 52px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 800px) {
  .search-form__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 420px) {
  .search-form__container {
    display: flex;
    flex-direction: column;
    padding: 51px 14px 0;
  }

  .search-form__input {
    height: 56px;
    padding: 5px 5px;
    font-size: 14px;
  }

  .search-form__button {
    width: 80px;
    height: 44px;
    top: 6px;
    right: 5px;
  }
}
