.about-me__container {
  flex-direction: column;
  padding-top: 110px;
}

.about-me__article {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__description {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-right: 12px;
}

.about-me__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  font-style: normal;
  letter-spacing: -2px;
}

.about-me__job-and-age {
  margin: 0;
  padding-top: 18px;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
}

.about-me__text {
  margin: 0;
  padding-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.about-me__github-link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  margin-top: auto;
}

.about-me__photo {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 800px) {
  .about-me__container {
    padding-top: 90px;
  }

  .about-me__article {
    column-gap: 40px;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job-and-age {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 620px) {
  .about-me__article {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .about-me__subtitle {
    padding-top: 40px;
  }

  .about-me__github-link {
    position: static;
    padding-top: 40px;
  }
}

@media (max-width: 420px) {
  .about-me__container {
    padding: 70px 14px 0;
  }

  .about-me__article {
    column-gap: 40px;
    padding-top: 60px;
  }

  .about-me__subtitle {
    font-size: 30px;
    letter-spacing: -1.2px;
    line-height: normal;
  }

  .about-me__job-and-age {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }

  .about-me__text {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}
