.filter-checkbox__container {
  display: flex;
  align-items: center;
  padding: 26px 0 43px;
  border-bottom: 1px solid rgba(170, 170, 170, 1);
  margin-bottom: 10px;
}

.filter-checkbox__input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.filter-checkbox__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 36px;
  height: 20px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.filter-checkbox__label .filter-checkbox__button {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.filter-checkbox__input:checked + .filter-checkbox__label .filter-checkbox__button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.filter-checkbox__label:active .filter-checkbox__button {
  width: 60px;
}

.filter-checkbox__text {
  margin: 0;
  padding-left: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media (max-width: 800px) {
  .filter-checkbox__container {
    padding-bottom:  51px;
  }  
}